{% extends 'base.html.twig' %}

{% block title %}Crear lista
{% endblock %}

{% block body %}
	<div class="form-container">
		<h1 class="form-title">Crear lista</h1>

		{{ form_start(listaForm) }}
		<div class="form-group">
			{{ form_row(listaForm.nombre) }}
		</div>
		<button class="btn">Crear lista</button>
		{{ form_end(listaForm) }}

		<div class="login-link mt-1-5rem">
			<a href="{{ path('app_listas', { grupoId: grupo.id }) }}">â† Volver a las listas del grupo</a>
		</div>
	</div>
{% endblock %}
